:root{
  --main-color: #eaeaea;
  --secondary-color: #f1f3f6;
  --aliceblue-color: #ffffff;
  --border-color: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;

}


html, body { 
  margin: 0;
  padding: 0;

}

a{
  text-decoration: none;
  color: #17a2b8;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 24px;}
h5{ font-size: 20px;}
h6{ font-size: 16px;}

ul{
  list-style: none;
}

h1,h2,h3,h4,h5,h6, strong { 
  color: var(--mainText);
  font-family: 'Russo One' , sans-serif;
  font-weight: 100;
}

p,li, span,label, input, textarea{
color: var(--secondaryText);
font-family: 'Roboto Mono', monospace;
}

.s1{
background-color: var(--secondary-color);
border-bottom:1px solid var(--border-color);
overflow: auto;
}

.s2{
  background-color: var(--secondary-color);
  border-bottom:1px solid var(--border-color);
  overflow: auto;
}
.main-container{
width: 1000px;
margin: 0 auto;
}

.greeting-wrapper{
  display: grid;
  text-align: center;
  align-content: center;
  border: 2px dashed lightcoral;
  min-height: 10em;
}

.intro-wrapper{
  background-color: var(--secondary-color);
  /* border: 1px solid var(--border-color); */
  border-radius: 20px 20px 0 0 ;
  /* box-shadow: 20px 20px 60px #d9d9d9,
  -20px -20px 60px #ffffff; */
   box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
   inset 0 0 20px rgba(255, 255, 255, 0),
   7px 7px 15px rgba(55, 84, 170, 0.15),
   -7px -7px 20px white,
   inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  display: grid;
  /* set a template for two columns (two fractions) */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5em 30em;
  /* applying the template on the currenct areas we have
  first we want the nav-wrapper to take all the column space 
  so we repeat this area, but then we want to divide the left and right columns in between */
  grid-template-areas: 'nav-wrapper nav-wrapper' 'left-column right-column';

}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dots-wrapper{
display: flex;
padding-left: 10px;
}
.browser-dot{
height: 15px;
width: 15px;
border-radius: 50%;
margin: 5px;
}

#dot-1{
  background-color: #fc6058;
}
#dot-2{
  background-color: #fec02f;
}
#dot-3{
  background-color: #2aca3e;
}

.left-column {
  grid-area: left-column;

}

.right-column {
  grid-area: right-column;

}

@media screen and (max-width: 1100px){
  .main-container{
    width: 95%;
  }
}