:root {
  --main-color: #eaeaea;
  --second-section-color: #ffffff;
  --secondary-color: #f1f3f6;
  --aliceblue-color: #ffffff;
  --border-color: #c1c1c1;
  --mainText: black;
  --secondaryText: #4b5156;
  --tooltip-color: #c1c1c1;

}

[data-theme="dark"] {
  --main-color: black;
  --second-section-color: black;
  --secondary-color: grey;
  --aliceblue-color: black;
  --border-color: grey;
  --mainText: white;
  --secondaryText: white;
  --tooltip-color: grey;
}


html,
body {
  margin: 0;
  padding: 0;

}

a {
  text-decoration: none;
  color: #17a2b8;
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

p {
  text-align: justify;
}


.s1 {
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}

.s2 {
  background-color: var(-second-section-color);
  border-bottom: 1px solid var(--border-color);
  overflow: auto;
}

.main-container {
  width: 1000px;
  margin: 0 auto;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 2px;
  padding-top: 50px;
  gap: 100px;
}

.expertise-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--previewShadow);
}

.social-links {
  display: flex;
  /* align-content: center;
  text-align: center; */
  justify-content: flex-end;
  padding-top: 200px;
  padding-bottom: 50px;
  padding-right: 200px;
}

.contact-links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
  text-align: center;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  border: 2px dashed lightcoral;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondary-color);
  border-radius: 20px 20px 0 0;

  box-shadow: inset 0 0 15px rgba(55, 84, 170, 0),
    inset 0 0 20px rgba(255, 255, 255, 0),
    7px 7px 15px rgba(55, 84, 170, 0.15),
    -7px -7px 20px white,
    inset 0px 0px 4px rgba(255, 255, 255, 0.2);
  display: grid;
  /* set a template for two columns (two fractions) */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2.5em auto;
  /* applying the template on the currenct areas we have
  first we want the nav-wrapper to take all the column space 
  so we repeat this area, but then we want to divide the left and right columns in between */
  grid-template-areas: 'nav-wrapper nav-wrapper''left-column right-column''stats stats';

}

.nav-wrapper {
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats {
  grid-area: stats;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;


}

.stats .neu {
  border-radius: 2px;
  background: #F1F3F6;
  box-shadow: 5px 5px 10px #d9dbdd,
    -5px -5px 10px #ffffff;

}

.vue-cal {
  border: none !important;
}

/* 
#navigation{
  margin: 0;
  padding: 10px;
} */
/* 
#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
} */
#menu-1 {
  background-color: black;

}

#menu-2 {
  background-color: black;

}

#menu-3 {
  background-color: black;

}

.dots-menu {
  display: flex;
  padding-right: 20px;
}

.menu-dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  margin: 1px;
}

.dots-wrapper {
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
}

.browser-dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;
}

.dots-menu .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--tooltip-color);
  opacity: 0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 20%;

}

.calendar {
  width: 100%;
}

/* .dots-menu .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
} */

/* on hover tooltip is disabled */
/* .dots-menu:hover .tooltiptext {
  visibility: visible;
  opacity: 90%;
   transition: opacity 0.5s;
} */

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;

}

#profile {
  border-radius: 15px;
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.social {
  display: flex;
  justify-content: space-evenly;

  align-items: center;
  margin-top: 70px;
  padding-left: 70px;
}

.social-logos {
  height: 60px;
  width: 60px;
  border-radius: 15px;
  background: #F1F3F6;
  box-shadow: 5px 5px 10px #d9dbdd,
    -5px -5px 10px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;



}

.social-logos a {

  color: black;
  opacity: 0.5;
  text-decoration: none;
  font-size: 35px;
}

.social-logos:hover {
  height: 60px;
  width: 60px;
  border-radius: 15px;
  background: #F1F3F6;
  box-shadow: inset 5px 5px 10px #d9dbdd,
    inset -5px -5px 10px #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;


}

.right-column {
  grid-area: right-column;
  padding-top: 15px;
  padding-bottom: 50px;
}

#preview-shadow {
  padding-top: 30px;
}

#preview {
  width: 340px;
  /* border: 1.5px dashed var(--border-color); */
  padding: 25px;
  position: relative;
  border-radius: 15px;
  background: #F1F3F6;
  box-shadow: inset 5px 5px 10px #d9dbdd,
    inset -5px -5px 10px #ffffff;
}

.dropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}


@media(min-width:992px) {
  .bag.fixed {
    width: 784px;
  }
}


@media screen and (max-width: 1100px) {
  .main-container {
    width: 95%;
  }

  .tooltiptext {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column'
      'stats'
    ;
  }

  .stats {
    padding-top: 100px;
  }
.right-column {
  display: flex;
  justify-content: center;
}

#preview {
  width: 250px;

}


  .social {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    margin-top: 70px;
    padding-left: 0px;
  }
  .social-links {
    display: block;
    margin: 0 auto;
     padding-top: 100px;
     padding-bottom: 100px;
     padding-right: 0px;
  }

}

@media screen and (max-width: 400px) {
 .right-column {
   display: flex;
  justify-content: center;
 }

#preview {
  width: 250px;
 
}

  .social {
    display: flex;
    justify-content: space-evenly;

    align-items: center;
    margin-top: 70px;
    padding-left: 0px;
  }

  .social-logos {
    width: 45px;
    height: 45px;
  }

  .social-logos:hover {
    width: 45px;
    height: 45px;
  }

  .expertise-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding-top: 50px;
    gap: 100px;
  }
 
.social-links {
  display: block;
  margin: 0 auto;
   padding-top: 100px;
   padding-bottom: 50px;
   padding-right: 0px;
}
}

.toggle-btn {
  position: relative;
  width: 45px;
  height: 24px;
  margin: 0 auto;
  border-radius: 40px;
}

input[type="checkbox"] {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: 0px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

/* toggle btn */

#_1st-toggle-btn span {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0px 2px 25px #d9d9d9;
  border-radius: 40px;
  transition: 0.2s ease background-color, 0.2s ease opacity;
}

#_1st-toggle-btn span:before,
#_1st-toggle-btn span:after {
  content: '';
  position: absolute;
  top: 2px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  transition: 0.5s ease transform, 0.2s ease background-color;
}

#_1st-toggle-btn span:before {
  background-color: #fff;
  transform: translate(10px, 36px);
  z-index: 1;
}

#_1st-toggle-btn span:after {
  background-color: #000;
  transform: translate(2px, 0px);
  z-index: 0;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span {
  background-color: #000;
}

#_1st-toggle-btn input[type="checkbox"]:active+span {
  opacity: 0.5;
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:before {
  background-color: black;
  transform: translate(17px, -4px);
}

#_1st-toggle-btn input[type="checkbox"]:checked+span:after {
  background-color: #fff;
  transform: translate(24px, 0px);
}

/*  toggle btn completed */